DB_HOST=<diisi-oleh-tim-infra>
DB_PORT=3306
DB_USER=<diisi-oleh-tim-infra>
DB_PASS=<diisi-oleh-tim-infra>
DB_NAME=mbg_db

S3_BUCKET_NAME=<diisi-oleh-tim-infra>
AWS_REGION=<diisi-oleh-tim-infra>
SNS_TOPIC_ARN=<diisi-oleh-tim-infra>

API_KEY=mbg-secret-key-2024
APP_PORT=8080
